/Employee_Management_System/bin/
/Employee_Management_System/obj/
/Employee_Management_System/.idea/
/Employee_Management_System/packages/
/Employee_Management_System/riderModule.iml
/Employee_Management_System/_ReSharper.Caches/
